/* Shopify Polaris Breakpoints */

$breakpoints-xl: "min-width: 1440px"; // 1440p
$breakpoints-lg: "min-width: 1280px"; // 720p
$breakpoints-md: "min-width: 768px"; // SD
$breakpoints-sm: "min-width: 490px"; // Mobile
